/* Reset style*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  margin-top: 67.1px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 91vh;
}
/* Put your styles here */

.collapse-small {
  display: flex;
  justify-content: right;
}
.collapse-customize {
  display: flex;
  justify-content: right;
}
@media (max-width: 573px) {
  .collapse-customize {
    justify-content: left !important;
  }
  .text-sm {
    font-size: 15px;
  }
  .card-sm {
    margin: 20px !important;
    margin-top: 60px !important;
  }
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
}
.text-indent {
  text-indent: 20px !important  ;
}
.text-size {
  font-size: 14px;
}

.error {
  font-size: 12px;
  color: red;
}
.wrapper {
  flex: 1;
}
.navbar {
  z-index: 999999;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.swal2-modal {
  background-color: black !important;
}
.swal2-icon .swal2-icon-content {
  display: flex;
  align-items: center;
  font-size: 1.3em !important;
}
.swal2-cancel {
  margin-top: 0 !important;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 20;
  width: 228px;
  height: 100vh;
}
.main-content {
  margin-left: 228px;
}
.main-content-lg {
  margin-left: 60px;
  width: 1304px;
}
.content {
  height: 100vh;
}
.text-bold {
  font-weight: bold;
}
.side-link {
  color: white;
  text-align: left;
  border: none;
}
.side-link:hover {
  color: white;
  background-color: rgba(66, 66, 66, 0.8);
  border: none;
}
.close-side {
  position: absolute;
  left: 213px;
}
.open-side {
  position: absolute;
  left: 45px;
}
.close-sidebar {
  position: fixed;
  left: 0;
  top: 20;
  width: 60px !important;
  height: 100vh;
}
@media (max-width: 573px) {
  .main-content {
    margin-left: 0px;
    width: 374.8px;
  }
  .sidebar {
    position: fixed;
    left: 0;
    top: 20;
    width: 228px;
    height: 100%;
    z-index: 999;
  }
  .close-sidebar {
    position: fixed;
    left: 0;
    top: 20;
    width: 60px !important;
    height: 100%;
  }
  .navbar {
    z-index: 999999999;
    border-bottom: 1px solid rgb(68, 68, 68);
  }
  .navbar-brand {
    margin-right: 5px;
  }
  .main-content-lg {
    margin-left: 60px;
    width: 312.8px;
  }
}
table,
th,
td {
  color: white !important;
  font-size: 14px;
}
.dataTables_length {
  display: flex;
  justify-content: start;
}
label {
  color: white;
}
.dataTables_wrapper .row {
  margin-bottom: 20px;
}
.dataTables_wrapper input,
.dataTables_wrapper input:active,
.dataTables_wrapper select,
.page-link {
  background-color: #212529 !important;
  color: white !important;
}
.dataTables_wrapper label {
  font-size: 14px;
}
td {
  text-align: left;
}
.text-bold {
  font-weight: bold;
  font-size: 14px;
}
@media (max-width: 573px) {
  .dataTables_wrapper label {
    font-size: 11px;
  }
  table,
  th,
  td {
    color: white !important;
    font-size: 11px;
  }
  .profile {
    margin: 5px;
  }
  .profile p,
  i {
    font-size: 11px !important;
  }
  .profile {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
.profile i {
  font-size: 13px;
}

.btn-primary {
  background-image: linear-gradient(
    195deg,
    #2c5fbd 0%,
    #164397 100%
  ) !important;
  border: none;
}
